
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.delete {
  color: $delete;
  font-size: $tam_icons;
}

.edit {
  color: $edit;
  font-size: $tam_icons;
}

.create {
  color: $create;
  font-size: $tam_icons;
}

// @import "compass/css3";

.btn-create {
  @include button_cor($create, $white);
  @include borda-arredondada(20px);
  @extend %sombra-padrao;
}

.btn-edit {
  @include button_cor($edit);
  @include borda-arredondada(20px);
  @extend %sombra-padrao;
}

.navbar-style {
  background-color: linear-gradient(to right, $black , rgb(25, 0, 255));
}
